@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

        --color-brand-50: #f8edf3;
        --color-brand-100: #f1d9e6;
        --color-brand-200: #e2b3cd;
        --color-brand-300: #d38db4;
        --color-brand-400: #b84f83;
        --color-brand-500: #8a0b4e;
        --color-brand-600: #741b4d;
        --color-brand-700: #5c153d;
        --color-brand-800: #430f2c;
        --color-brand-900: #2b091c;
}
